body {
    font-family: 'Plus Jakarta Sans', sans-serif;
}
/* Scrollbar custom dark sleek theme */
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: #020617;
}
::-webkit-scrollbar-thumb {
    background: #1e293b;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #334155;
}
